.delivery{
	background-color: $grey-color;
	padding: 35px 10px 20px;
	h2{
		text-align: center;
		margin: 10px 0 20px;
	}
	&__transport{
		padding:10px;
		&__link{
			margin-top: 45px;
			font-size: 120%
		}
	}
	&__payment{
		padding:10px;
		text-align: center;
		ul{
			padding:0;
			text-align: left;
			margin-left:70px;
			list-style: none;
			font-size: 120%;
		}
	}
} 
