.delivery{
	background-color: $grey-color;
	padding: 35px 10px 20px;
	h2{
		text-align: center;
		margin: 10px 0 20px;
	}
	&__transport{
		padding:10px;
		position: relative;
		&__link{
			margin-top: 45px;
			font-size: 120%
		}
		&::after{
			content: "";
			position: absolute;
			width:2px;
			background-color: $color-text-white;
			height: 100%;
			top: -8px;
			right: -70px;
		}
	}
	&__payment{
		padding:10px;
		text-align: center;
		ul{
			padding:0;
			text-align: left;
			width:250px;
			margin:0 auto;
			list-style: none;
			font-size: 120%;
		}
	}
} 
