.main-header{
	height: 500px;
	background-color: $header-color;
	background-image: url("/img/bg-msk.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 0 50%;
	border-bottom: 2px solid $color-text-white;
	.fa {
		color: $color-text-white;
	}
} 
.navbar-brand{
	text-transform: uppercase;
	font-size: 150%;
  font-family: 'Sedgwick Ave Display', cursive;
}
.user-contact{
	margin-left:auto;
}
.contact-phone{
	padding-right:15px;
	position: relative;
	&::after{
		content: "";
		position: absolute;
		width: 2px;
		height: 100%;
		background-color: $blue-color;
		margin-left: 5px;
	}
}
.cart{
	color: $color-text-white;
	margin-left:5px;
}
