.widget{
	background-color: $grey-color;
	padding: 30px 10px;
}
.widget-flip{
	padding:15px 6px 7px ;
	border-radius:7px;
	text-align: center;
	position:relative;
	min-height:250px;
	transition: 1s; 
	transform-style: preserve-3d;
  border:1px solid $header-color;
	&:hover{
		transform: rotateY(180deg);
	}
	&__image{
		border-radius:5px;
		width:80%;
		height: auto;
		margin-top: 5px;
	}
	&__text{
		margin-top: 20px;
		text-transform: uppercase;
		font-weight: 700;
	}
} 
.widget-block{
	position: absolute;
	top:0;
	bottom:0;
  left:0;
  right:0;
	&--back{
		background: $header-color; 
    padding: 20px; 
    color: #fff; 
    transform: rotateY(180deg); 
    backface-visibility: hidden; 
	}
}
